streamlit
langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
python-dotenv
mock
python-telegram-bot
gunicorn
flask
requests
python-dotenv
chromadb
tiktoken
openai
langchain-text-splitters
langchain-core
